<%= render 'components/carousel' %>
<div class="container">
  <div class="row justify-content-start my-2">
    <% @cocktails.each do |cocktail|  %>
      <div class="col-4 my-2">
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1514362545857-3bc16c4c7d1b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)">
          <%= link_to cocktail.name, cocktail_path(cocktail) %>
        </div>
      </div>
    <% end  %>
  </div>
</div>
